body {
			background-size: cover;
			backgroundnd-position: center;
			background-image: linear-gradient(skyblue, lightblue, lightgreen);
			height: 500px;
		}
		.h1
		{
			text-align: center;
			font-family: Lucida Handwriting, Cursive;
			background-color: hsla(10, 20%, 70%, 0.3);
		}

		.h11
		{
			font-family: Georgia, Serif;
			font-size: 90px;
		}

		.div1
		{
			text-align: center;
		}

		.div3
		{	
			float: right;
			width: 500px;
			background-color: hsla(90, 50%, 25%, 0.3);  
		}

		.div2
		{
			float: left;
			width: 500px;
			font-family: Times New Roman, Serif; 
			background-color: hsla(90, 25%, 50%, 0.3);
			text-align: center;
		}

		.p1
		{
			padding-left: 10px;
			font-family: Times New Roman, Serif;
		}

		.p2
		{
			float: left;
			font-family: Times New Roman, Serif;
			font-size: 20px;
		}

		.shaina
		{
			float: right;
			height: 150px;
			width: 150px;
			opacity: 0.3;
			padding-top: 10px;
			padding-right: 10px;
		}

		.gerald
		{
			float: right;
			height: 150px;
			width: 150px;
			opacity: 0.3;
			padding-right: 10px;
		}

		.kristen
		{
			float: right;
			height: 150px;
			width: 150px;
			opacity: 0.3;
			padding-right: 10px;
		}

		.marivic
		{
			float: right;
			height: 150px;
			width: 150px;
			opacity: 0.3;
			padding-right: 10px;
		}

		.marinel
		{
			float: right;
			height: 150px;
			width: 150px;
			opacity: 0.3;
			padding-right: 10px;
		}

		img:hover
		{
			opacity: 1.0;
		}

		.copy
		{
			float: right;
			font-size: 10px;
			padding-right: 5px;
		}

		a:hover
		{
			background-color: red;
		}

		a
		{
			float: left;
			font-size: 16px;
			color: black;
			text-align: center;
			text-decoration: none;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 10px;
			padding-left: 10px;
		}